.footer {
margin: 0%;
height: 4rem;
  color: whitesmoke;
  background-color: rgb(15, 15, 14);
  
  margin-bottom: 0rem !important;
  margin-top: 7rem;
  max-width: 1800px;

}



.squad {
  color: whitesmoke;
  background-color: rgb(15, 15, 14);
  text-align: right;
margin-top: 1rem;
  
}

.title {
margin-top: 1rem;
display: flex;
}
