.footer {
  margin-top: 1rem;
  padding: 1rem;
  color: whitesmoke;
  background-color: rgb(15, 15, 14);

  
  width: 100%;
  margin-bottom: -1.5rem;
}

.squad {
  color: whitesmoke;
  background-color: rgb(15, 15, 14);
  text-align: right;
  margin-bottom: 35px;
margin-top: -1.9rem;
  width: 100%;
}
